<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <span class="reload">TODO List</span>
      </div>
      <div class="content">
        <div class="http-status-container">
          <div class="http-status-title">404 Not Found</div>
          <div class="http-status-message">Désolé, la page que vous avez demandée n'existe pas</div>
          <img src="/assets/img/404-not-found.jpg">
        </div>
      </div>
    </div>
  </body>
</html>