<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body class="body">
    <div class="container">
      <div class="header">
        <span class="reload">TODO List</span>
      </div>
      <div class="content">
        <fieldset>
          <legend>Liste des tâches</legend>
          <form method="post" class="form-ajax reload-list-on-submit" data-action="delete">
            <table>
              <tr id="listContainer">
                <td>
                  Aucune tâche pour le moment
                </td>
              </tr>
            </table>
          </form>
        </fieldset>
        <fieldset>
          <legend>Ajouter une tâche</legend>
          <form method="post" class="form-ajax reload-list-on-submit" data-action="add">
            <table>
              <tr>
                <td>
                  <div>
                    <input class="wallow" id="inputLibelle" type="text" name="libelle" autocomplete="off" placeholder="Saisir une tâche...">
                  </div>
                </td>
                <td class="align-right">
                  <input class="btn btn-success" type="submit" value="Ajouter">
                </td>
              </tr>
            </table>
          </form>
        </fieldset>
      </div>
      <div class="footer">
        <input title="Couleur de fond 1" id="colorbody" class="jscolor {onFineChange:'onJSColorChanged(this)'}" value="5D3148" data-target="body.backgroundColor">
        <input title="Couleur de fond 2" id="colorback" class="jscolor {onFineChange:'onJSColorChanged(this)'}" value="FFFBD8" data-target="container.backgroundColor">
        <input title="Couleur de la bordure" id="colorborder" class="jscolor {onFineChange:'onJSColorChanged(this)'}" value="016B79" data-target="container.borderColor">
      </div>
    </div>

    <!-- JS -->
    <script type="text/javascript" src="/assets/js/jscolor.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>