.btn{
	padding: 3px 5px;
	color: #ffffff;
	min-width: 100px;
}

.btn:hover, label{
	cursor: pointer;
}

.btn-success{
	background-color: #0fb31c;
}

.btn-danger{
	background-color: #c00000;
}

input{
	border-radius: 0px;
	border: solid #000000 2px;
}

fieldset{
	border: 2px solid #000000;
	margin-bottom: 10px;
	background-color: #faeffe80;
}

body{
	background-color: #3b2323;
}

.container{
	margin: auto;
	width: 86%;
	background-color: #ffffcf; 
	min-height: 100%;
	padding: 10px 20px;
	border: 2px solid #107c89;
}

.header{
	font-size: 5em;
	text-align: center;
}

table{
	width: 100%;
}

.align-right{
	text-align: right;
}

#selectAllLibelle{
	font-size: 0.8em;
	font-style: italic;
}

.wallow{
	width: 100%;
}

html{
	font-family: "Arial", "Helvetica", "sans-serif";
}

.http-status-container{
	background-color: #ffffff;
}

.http-status-container img{
	display: block;
	margin: auto;
	height: 500px;
}

.http-status-title{
	font-size: 3em;
}

.http-status-message{
	font-size: 2em;
}
